<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.demo.Triangle">
		<!--  <property name="type" value="Equilateral" />  -->
		<!--  Using a constructor instead: -->
		<constructor-arg value="Equilateral"/>
	</bean>
	
	<!-- Id of the bean is the same as a member field of the class: -->
	<bean id="type" class="com.demo.TriangleWithInterface" autowire="byName">
		<!-- <property name="type" value="with interface" />  -->
	</bean>
	<!-- autowire = "byType" works if there is only one field of the class.
		will work in this case too. -->
	
	<bean id="trianglewithinterface" class="com.demo.TriangleWithInterface">
		<property name="type" value="with interface" />
	</bean>
	
	<bean id="circle" class="com.demo.Circle">
		<!-- <property name="center" ref="zeropoint" />  -->
	</bean>
	
	<bean id="newtriangle" class="com.demo.NewTriangle" >
		<property name="pointA" ref="zeropoint" />		
		<property name="pointB" ref="point2" />
		
		<!--  Using "inner" beans, here "id" and "ref" are not
		      needed. pointC is required only inside NewTriangle 
		      class and nowhere else. -->
		<property name="pointC" >
			<bean class="com.demo.Point" >
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
	</bean>
	
	<bean id="zeropoint" class="com.demo.Point" >
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="point2" class="com.demo.Point" >
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	
	<!-- Using collections: -->
	<bean id="listtriangle" class="com.demo.ListTriangle" >
		<property name="points">
			<list>
				<ref bean="zeropoint" />
				<ref bean="point2" />
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
	<!--  to include all annotation postprocessors, type:
	<context:annotation-config /> -->  
</beans>