<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.demo.Triangle">
		<!--  <property name="type" value="Equilateral" />  -->
		<!--  Using a constructor: -->
		<constructor-arg value="Equilateral"/>
	</bean>
	
	<bean id="newtriangle" class="com.demo.NewTriangle" >
		<property name="pointA" ref="zeropoint" />
		
		<property name="pointB" ref="point2" />
		
		<!--  Using "inner" beans, here "id" is not needed: -->
		<!--  pointC is required only inside NewTriangle class and nowhere else. -->
		<property name="pointC" >
			<bean class="com.demo.Point" >
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
		
	</bean>
	
	<bean id="zeropoint" class="com.demo.Point" >
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="point2" class="com.demo.Point" >
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	
</beans>